.CheckoutInput {
  position: relative;
}

.name-input label,
.phone-input label,
.email-input label,
.name-input label {
  text-transform: uppercase;
  color: var(--blur-color);
  margin: 16px 0 8px 0;
  /* padding: 16px 0; */
  display: block;
}

.name-input input,
.phone-input input,
.email-input input,
.name-input input {
  display: block;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.name-input,
.phone-input,
.email-input,
.name-input {
}

.CheckoutInput form > button {
  border: none;
  padding: 10px 16px;
  margin: 16px 0;
  background-color: var(--text-color);
  color: var(--white-color);
  font-size: 1.2rem;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.5s;
}

.CheckoutInput form > button:hover {
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(75, 75, 75, 0.808);
  color: #000000;
  background: #ffffff;
}

.btn__view-order {
  position: absolute;
  bottom: 16px;
  right: 0;
  padding: 14px 16px;
  border: none;
  cursor: pointer;
  transition: all 0.5s;
}
.btn__view-order:hover {
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(75, 75, 75, 0.808);
  color: #ffffff;
  background: #000;
}
